@font-face {
  font-family: "AlibabaPuHuiTi";
  src: url("https://www.unpkg.com/font-online@1.3.2/fonts/AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-55-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


